@charset "utf-8";

html{

  font-family: "Fira Sans Condensed", "Poppins", sans-serif;}

a {
  text-decoration: none;
  color: #222;
}

body {    
  transition: background-color  0.5s ease, color 0.5s ease;
  background-color: #fcfdfe;
  margin: 0;
}

header{
  height: fit-content;
  background-color: #1d1953;
}

.top-bar {
  height: 75px;
  font-size: 26px; 
  color: #fff;
  line-height: 75px;
  justify-content: space-between;
}

.title {
  height: 150px;
  width: 100%; 
  background-color: #fff;
  text-align: center;
  line-height: 150px;
  font-size: 50px; 
  box-shadow: inset 2px 1px 3px #666;
}

.row-one, .row-three, .row-four {
  height: 600px; 
  width: 100%; 

  .col-one {
    width: 50%;   height: 100%; 
    background-color: #666;
  }
  
  .col-two {
    width: 50%;   height: 100%; 
    background-color: #26d;
  }
}

.row-two {
  height: 600px;
  width: 100%; 

    .col-one {
      width: calc(100% - 500px);   height: 100%; 
      background-color: #3d8;
    }

    .col-two {
      height: 100%; 
      width: 500px;
      background-color: #cc5; 
    }

    div {
      width: 25%;
      text-align: center;
      align-content: flex-end;
    }  

    .html { 
      background-color: #e58; 
    }

    .css { 
      background-color: #298; 
    }

    .js { 
      background-color: #4a3; 
    }

    .cplus { 
      background-color: #26d; 
    }

  span {
    display: block; 
    font-size: 20px;
    font-weight: 500; 
  }
}

.icon-container {
  width: 280px;   height: 100%; 
  background-color: #cc5;

  div {
    width: 250px;   height: 250px; 
    background-color: #e2f;
  }
}